
pymupdf
pillow
pytesseract
pdf2image
tqdm
paddlepaddle
opencv-python 
paddleocr==2.7.3 
streamlit==1.28.0
pandas==2.0.3
plotly==5.17.0
wordcloud==1.9.2
matplotlib==3.7.2
numpy==1.24.3
streamlit>=1.28.0
google-generativeai>=0.3.0
pyparsing==3.0.9
httplib2==0.22.0
## 
#pip install paddleocr paddlepaddle pdf2image opencv-python